body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #333533;
  height: -webkit-fill-available;
  color: #f5cb5c;
  display: grid;
  align-content: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  border: 4px solid #242423;
  margin: 0 auto;
  width: 400px;
}

.todo-container {
  font-size: 30px;
  margin: 10px auto;
}

.todo-container input:checked {
  background-color: #242423;
}

.checked {
  color: #cfdbd5;
}